@import "./container.css";
@import "./header.css";

.homepage p{
    text-align: justify;
    font-size: 14px;
    line-height: 1.3;
}
iframe{
    width: 100%;
}
.about h1{
    text-align: center;
}

.about p{
    text-align: center;
    font-size: 14px;
    line-height: 1.3;
}